<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.logviewer">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>
        <activity
            android:name="com.github.logviewer.LogcatActivity"
            android:label=""
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />

        <activity
            android:name="com.github.logviewer.LogcatDetailActivity"
            android:label="Log detail"
            android:theme="@style/Theme.AppCompat"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.logviewer.LogcatActivity"/>
        </activity>

    </application>

</manifest>
